*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #222c2a;
}

img {
  max-width: 100%;
}

.section-two--image {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.1;
}

.location-title {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section-two {
  padding-top: 4em;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}
.intro-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.location-item + .location-item {
  margin-left: 15px;
}

.intro {
  background-color: #f55a5a;
  color: #fff;
  font-weight: 100;
  text-align: center;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.world-icon {
  font-size: 2.5rem;
}

.intro-col + .intro-col {
  margin-left: 10px;
}

.location-link {
  color: #918e9b;
}

.location-icon {
  color: #f55a5a;
}

@media (min-width: 500px) {
  .section-two--row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location {
    display: flex;
    align-items: center;
  }
  .location-item + .location-item {
    margin-left: 10px;
  }
  .section-two--col + .section-two--col {
    margin-left: 30px;
  }

  .section-two--image {
    width: 400px;
  }
  .section-two--date {
    font-size: 1rem;
  }

  .section-two--title {
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 2.5rem;
  }

  .section-two--paragraph {
    font-weight: 300;
    width: 70%;
  }
}
